# CONFIGURACIÓN SERVIDOR SMTP
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# CREDENCIALES GENERALES
SENDER_EMAIL=your_email@domain.com
SENDER_PASS=your_password

# PERFILES (Soporta N perfiles indexados)
PERFIL_1_NOMBRE="Nombre Alexandra"
PERFIL_1_EMAIL=acardozo@partnertech.pe
PERFIL_1_PASS=acardozo001
PERFIL_1_CARGO="Chief Business Officer"
PERFIL_1_GMAIL_EMAIL=example@gmail.com
PERFIL_1_GMAIL_APP_PASS="abcd efgh ijkl mnop"

PERFIL_2_NOMBRE="Nombre Franco"
PERFIL_2_EMAIL=fguerrero@partnertech.pe
PERFIL_2_PASS=Franco001
PERFIL_2_CARGO="Sub-Gerente Comercial"
PERFIL_2_GMAIL_EMAIL=example@gmail.com
PERFIL_2_GMAIL_APP_PASS="wxyz 1234 5678 90ab"
