# Configuración de Perfiles (Máximo 5)
PERFIL_1_NOMBRE="Tu Nombre"
PERFIL_1_EMAIL="tu_correo@tu-empresa.com"
PERFIL_1_PASS=""
PERFIL_1_CARGO="Especialista"
PERFIL_1_GMAIL_EMAIL="tu_gmail@gmail.com"
PERFIL_1_GMAIL_APP_PASS="tu-password-de-aplicacion-de-16-caracteres"

# Servidor SMTP (por defecto Gmail Relay)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
