# CONFIGURACIÓN SERVIDOR SMTP
SMTP_SERVER=mail.partnertech.pe
SMTP_PORT=465

# CREDENCIALES GENERALES (POR DEFECTO)
SENDER_EMAIL=your_email@domain.com
SENDER_PASS=your_password

# PERFIL: [NOMBRE]
PERFIL_1_NOMBRE="Nombre 1"
PERFIL_1_EMAIL=email1@domain.com
PERFIL_1_PASS=password123
PERFIL_1_CARGO="Cargo 1"

# PERFIL: [NOMBRE]
PERFIL_2_NOMBRE="Nombre 2"
PERFIL_2_EMAIL=email2@domain.com
PERFIL_2_PASS=password456
PERFIL_2_CARGO="Cargo 2"
